<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Selector</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<body>
    <h1>Credit Card Selector</h1>

    <form method="post" action="/">
        <label for="Gas">Gas:</label>
        <input type="number" id="Gas" name="Gas" required><br>

        <label for="Supermarket">Supermarket:</label>
        <input type="number" id="Supermarket" name="Supermarket" required><br>

        <label for="Dining">Dining:</label>
        <input type="number" id="Dining" name="Dining" required><br>

        <label for="Travel">Travel:</label>
        <input type="number" id="Travel" name="Travel" required><br>

        <label for="Other">Other:</label>
        <input type="number" id="Other" name="Other" required><br>

        <input type="submit" value="Submit">
    </form>
    <center>
    <table>
        {% if response is not none %}
            <tr>
                <th colspan="2">Response:</th>
            </tr>
            {% for key, value in response.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        {% elif response is none %}
            <tr>
                <td colspan="2">No response available.</td>
            </tr>
        {% endif %}
        </table>
    </center>
    

</body>

</html>
